#header.rounded
  h1#title= title
  p.description meet the contributors of your favorite open source projects
#welcome.rounded
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sem massa, commodo a pellentesque sed, lacinia ac nisl. Praesent quis odio nibh, vel malesuada nibh. Fusce purus dui, condimentum in egestas vitae, eleifend ac lacus. Sed dui libero, congue sed convallis vitae, rhoncus eget libero. Integer vehicula, erat sit amet pellentesque bibendum, sapien elit cursus dolor, ut porta dolor justo vitae velit. Aenean ac ultrices quam. In risus lectus, imperdiet quis vestibulum ut, pretium sed ligula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nullam non libero sed sapien cursus dictum in at erat. Vestibulum non ullamcorper ligula. Etiam eget purus tellus. Curabitur ligula tortor, hendrerit vel tristique eget, pharetra eu ante. Etiam eget felis non tellus suscipit aliquet. 
