#header.rounded
  %h1#title= @title
  %p.description meet the contributors of your favorite open source projects
#welcome.rounded
  %form{:action => '/search'}
    %input{:name => 'q', :id => 'search', :type => 'text', :size => '25', :autofocus => 'autofocus'}
    %button{:id => 'search-button', :type => 'submit'} search
  %br
  (paste a github project path e.g. 
  %em
    http://github.com/
    %b jnunemaker/twitter
  )
