!!! 5
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(href='http://fonts.googleapis.com/css?family=Arvo&subset=latin', rel='stylesheet', type='text/css')
  body!= body
