#header.rounded
  %h1#title
    = @project.name
  %p.description
    = @project.description
%ul
  %li.rounded
    .avatar
      %img{:src => "http://www.gravatar.com/avatar/e621725d02374c5d8b5fe0a7ac9e8ca0?s=128"}
    .user-info
      %h1 mportiz08
      %p San Luis Obispo, CA
      %p 78 commits
      %p &nbsp;
      %p marcusortiz.com
      %p engineyard
    .clear
