@charset "utf-8";
/* CSS Document */

/*******************************************************************************************/
/*RESET*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0; }
/*******************************************************************************************/
/*******************************************************************************************/
@font-face {
  font-family: League Gothic;
  src: local(league_gothic), url('/fonts/league_gothic.otf') format('opentype');
}

html, body {
  background-color: #333;
  color: #333;
  font-family: "Helvetica Neue", helvetica, sans-serif;
  height: 100%;
}

a, a:visited, a:active, a:hover {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 18px;
}

h4 {
  font-size: 16px;
}

li {
  padding: 15px;
}

p {
  margin: 5px 0;
  padding: 0 25px;
}

.rounded {
  width: 750px;
  margin: 15px auto 0 auto;
  padding: 25px;
  background-color: #e7e7e7;
  /*box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5), -6px -6px 6px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5), -6px -6px 6px rgba(0, 0, 0, 0.5);*/
  -moz-box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.5)/*, -6px -6px 6px rgba(0, 0, 0, 0.5)*/;
  border-radius: 6px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 6px;
}

.description {
  color: #545454;
}

.avatar {
  float: left;
}

.avatar img {
  border: 3px solid #333;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
}

.user-info {
  float: right;
  text-align: right;
}

.user-info p {padding-right: 0px;}

.clear {
  clear: both;
  height: 0;
  overflow: hidden;
}

#header {
  text-align: center;
}

h1#title {
  font-family: League Gothic;
  font-size: 72px;
  font-weight: normal;
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  color: #222;
}

#welcome {
  text-align: center;
}

#welcome p {
  padding: 50px;
}
